@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Rubik+Mono+One');


* {
	padding: 5;
	margin: 15;
}

body {
	background: url(../images/galaxy3.jpg), black;
    background-color: black;
	background-size: cover;
	font-size: 36px;
	
}

h1, #brand {
	color: #A813A7;
	font-family:'Rubik Mono One', sans-serif;
	font-weight: bold;
	font-size: 1.75em;
	background-color: black;
	padding: 0;
	text-align: center;
}

h2, #slogan {
 	 color: white;
 	 font-size: 1em;
 	 font-style: italic;
 	 padding: 0;
 	 text-align: center;
}

h2, h3, h4, h5, a, p {
	font-family: 'Gloria Hallelujah', cursive;
}

h3, #tagline {
	color: white;
 	font-size: .6em;
 	font-style: italic;
 	width: 27em;
 	text-align: center;
 	margin: auto;
}

p {
	color: white;
}
 #beers {
	color: white;
	/*background: linear-gradient(black, white)*/ ;
 	font-family:'Rubik Mono One', sans-serif;
 	font-size: .4em;
 	padding: 20px;
 	text-align: center;
 	text-decoration: none;
}

#instruction {
	color: white;
	font-size: .6em;
 	padding: 10px;
 	text-align: center;
 	text-decoration: none;
}


#bottom {
	color: yellow;
	font-size: .6em;
 	padding: 20px;
 	text-align: center;
 	text-decoration: none;
 	vertical-align: text-bottom;
 }

a {
	color: orange;
	font-size: 1em;
 	padding: 20px;
 	text-align: center;
 	text-decoration: none;
 	vertical-align: text-bottom;

}






