@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Rubik+Mono+One');


* { 
	margin:0; 
	padding:0; 
	box-sizing:border-box;
}

body {
	background: url(../images/galaxy3.jpg), black;
    background-color: black;
	background-size: cover;
	font-size: 2.3em;	
}

header, #blurb {
	background-color: rgba(0,0,0, 0.6);
	width: 27em;
 	text-align: center;
 	margin: auto;
 	padding: 1em;
}

h1, #brand {
	color: #A34DCC;
	font-family:'Rubik Mono One', sans-serif;
	font-weight: bold;
	font-size: 1.75em;
	padding: .5em;
	text-align: center;
}

h2, #slogan {
 	 color: white;
 	 font-size: 1em;
 	 font-style: italic;
 	 padding: 0;
 	 text-align: center;
}

h2, h3, h4, h5, a, p {
	font-family: 'Gloria Hallelujah', cursive;
}

h3, #blurb {
	color: white;
 	font-size: .85em;
 	font-style: italic;
 	width: 27em;
 	text-align: center;
 	margin: auto;
}


#sixpack {
	color: white;
	font-family:'Rubik Mono One', sans-serif;
	font-weight: bold;
	font-size: .75em;
	width: 100%;
	margin: auto;
	float: left;
}

#beer1, #beer2, #beer3, #beer4, #beer5, .transparent {
    /*color: white;
	font-family:'Rubik Mono One', sans-serif;
	font-weight: bold;
	font-size: .75em;*/
    background-color: rgba(0,0,0, 0.5);
    border: 10px black solid;
    padding: 1em;
    margin: .75em;
    float: left;
    text-align: center;
    width: 12%;
}


#footer, h5, a {
	color: orange;
	font-size: 1em;
 	padding: 20px;
 	text-align: center;
 	text-decoration: none;
 	vertical-align: text-bottom;
 }


.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

