@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Rubik+Mono+One');


* {
	padding: 10;
	margin: 30;

}

body {
	background: url(../images/galaxy.jpg), black;
    background-color: black;
	background-size: cover;
	font-size: 36px
}

h1, #brand {
	color: #A813A7;
	font-family:'Rubik Mono One', sans-serif;
	font-weight: bold;
	font-size: 2em;
	background-color: black;
	padding: .3em;
	text-align: center;
}

h2, #slogan {
 	 color: white;
 	 font-size: 1.75em;
 	 font-style: italic;
 	 padding: 20px;
 	 text-align: center;
} 	 

h2, h3, h4, p, ul, li, a {
	font-family: 'Gloria Hallelujah', cursive;
}

h3 {
	color: lightblue;
 	 font-size: .75em;
 	 font-style: bold;
 	 padding: 40px;
 	 text-align: center;
}

p, #beers {
	color: white;
	/*background: linear-gradient(black, white)*/ ;
 	font-size: .6em;
 	padding: 10px;
 	text-align: center;
 	text-decoration: none;

}

h4, a {
	color: yellow;
	font-size: .75em;
 	padding: 10px;
 	text-align: center;
 	text-decoration: none;
}

